{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pelicula creation</h1>

    <form>
      <input id="nombre" type="text"/>
      <input id="guardar" type="submit"/>
    </form>
    <br>
    <h4>datos traidos</h4>
    <ul>
        <li>
            <a href="{{ path('pelicula_index') }}">Back to the list</a>

        </li>
    </ul>
{% endblock %}
